

* {
    margin: 0px;
    box-sizing: border-box;
}

body, html, #root {
    width: 100%;
    height: 100%;
}

#root {
    display: flex;
}

.chat-group {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    >:first-child {
        margin-bottom: 5px;
    }
}

.users-panel {
    padding: 5px;
}